{{ define "contacts" }}

{{ template "header" }}

<main class="px-3">
    <h1>Contact me</h1><br>
    <div class = "alert alert-secondary">
    <p>My projects on<a href=https://github.com/ultraxion2000/ultraxion2000 class="text-white"> GitHub</a></p>
    <p>Social network <a href=https://t.me/Alexsandr2000b class="text-white"> Telegram </a></p>
    <p>Social network<a href=https://vk.com/sane4ek2000 class="text-white"> Vk</a></p>
  </div>  
    <p class="lead">
     <a href="/" class="btn btn-lg btn-light fw-bold border-white bg-white">Назад</a>
    </p>
  </main>

{{ template "footer" }}

{{ end }}


