{{ define "create" }}

{{ template "header" }}

<main role="main" class="inner cover">
    <h1 class = "cover-heading">Форма добавления статьи</h1>
    <form action="/save_article" method="post">
        <input type="text" name="title" id="title" placeholder="Введите название поста"
        class="form-control"><br>
        <textarea name="anons" id="anons" class="form-control" placeholder="Введите анонс поста"></textarea><br>
        <textarea name="full_text" id="full_text" class="form-control" placeholder="Введите текст поста"></textarea><br>
        <button class="btn btn-secondary">Добавить</button>
    </form>
  </main>

{{ template "footer" }}

{{ end }}


