{{ define "index" }}

{{ template "header" }}

<main class="px-3">
    <h1>Информация</h1><br>
    <p class="lead">About Me</p>
    <p class="lead">I am a Backend Developer from Russia. I’m working as a Software Engineer and contributing to backend for building applications, exploring Technical Content Writing. In my free time, I study new technologies and read technical articles.</p>
  
    {{ range. }}
  <div class = "alert alert-secondary">
    <h2>{{ .Title }}</h2>
    <p>{{ .Anons }}</p>
    <a href="/post/{{ .Id }}" class="btn btn-secondary">Читать далее</a>
  </div>
    {{ else }}
    <p class ="lead">Информация отсутствует</p>
    {{ end }}
    
    <p class="lead">
      <a href="https://github.com/ultraxion2000?tab=repositories" class="btn btn-lg btn-light fw-bold border-white bg-white">Узнать больше</a>
    </p>
  </main>

{{ template "footer" }}

{{ end }}


